<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Reenviar as instruções de confirmação</h4>
      </div>

      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <%= f.input :email, label: 'E-mail', required: true, autofocus: true %>

          <div class="form-actions">
            <%= f.submit 'Enviar', class: "btn btn-lg btn-success btn-block" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
