<div class="container">
<div class="col-md-8 col-md-offset-2">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Meu Perfil</h4>
    <% if !current_user.confirmed? %>
      <p>Atenção: Sua conta ainda não foi confirmada.</p>
    <% end %>
  </div>

  <div class="panel-body">

   <% resource.build_profile if resource.profile.nil? %>

   <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
     <%= devise_error_messages! %>

     <%= f.fields_for :profile do |profile_form| %>

        <%= profile_form.input :first_name, label: 'Primeiro nome', autofocus: true %>

          <%= profile_form.input :last_name, label: 'Sobrenome' %>

     <% end %>

        <%= f.input :email, label: 'E-mail' %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
     <% end %>

       <%= f.input :password, label: 'Senha', autocomplete: "off" %><i>(Deixe em branco caso não queira mudar.)</i>

        <%= f.input :password_confirmation, label: 'Confirmar senha', autocomplete: "off" %>

       <i>(Informe a senha atual para confirmar as mudanças.)</i><br />
       <%= f.input :current_password, label: 'Senha atual', autocomplete: "off" %>

      <div class="actions">
        <%= f.submit "Atualizar", class: "btn btn-lg btn-success btn-block" %>
      </div>

    <% end %>

  </div>
</div>
</div>
</div>
