<div class="container">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Registrar</h4>
  </div>

  <div class="panel-body">

     <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email, autofocus: true %>

      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres)</em>
      <% end %><br />
      <%= f.input :password, label: 'Senha', autocomplete: "off" %>

      <%= f.input :password_confirmation, label: 'Confirmar Senha', autocomplete: "off" %>

      <div class="form-actions">
        <%= f.submit "Registrar", class: "btn btn-lg btn-success btn-block" %>
      </div>
    <% end %>

  </div>
</div>
</div>
</div>

