<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem-Vindo(a) ao lermaislivros.com!</h1>
    <p>Você confirmou com sucesso a sua conta.<p>
    <p>Assim que você fizer o seu login, você poderá fazer as seguintes operações no sistema:</p>
    <ul>
      <li>Complementar o seu perfil para facilitar as transações através da opção: "Perfil"</li>
      <li>Cadastrar o seu acervo de livros através da opção "Novo livro"</li>
      <li>Ver suas compras para poder confirmá-las ou cancelá-las através da opção: "Minhas compras"</li>
    </ul>
    <p>
      Para entrar no siste, basta acessar: <a href="http://lermaislivros.com/sign_in/" target="_blank">Entrar no lermaislivros.com</a>.
    </p>
    <hr>
    <h3>Como Funciona o Ler Mais Livros?</h3>
    <p>O <a href="http://lermaislivros.com/" target="_blank">lermaislivros.com</a> é um sistema bem simples e focado em leitores assim com você e eu, que gostam de ler e guardam seus livros com muito carinho, porém, com o passar do tempo, ficam sem espaço para guardar tantos livros e decidem fazer uma renovação no acervo.</p>
    <p>O sistema é todo gratuíto, ou seja, você não precisa pagar nada para usar. Além disso, também não há cobrança de taxas envolvidas com as transações de venda, uma vez que <strong>toda a negociação é de responsabilidade do vendedor e comprador.</strong></p>
    <p>Na página inicial do sistema, você verá os 12 livros cadastrados mais recentes.<p>Se algum deles estiver à venda, uma vez autenticado no sistema, você poderá indicar o interesse na compra.</p>
    <p>Ao fazer isso, o livro ficará reservado para você por 5 dias. Você irá receber um e-mail com as instruções de como entrar em contato com o vendedor para que vocês possam concretizar a compra.</p>
    <p>Até que a compra seja concretizada, o livro ficará como "Reservado". Quando você receber o livro que comprou, você deve entrar em "Minhas compras" e clicar em "Concluir" a fim de sinalizar ao sistema de que a transação foi concluída com sucesso.</p>
    <p>Se por algum motivo a transação não for concluída, você deverá indicar o cancelamento da compra no menu "Minhas compras". Isso é importante para que o livro possa ser liberado.</p>
    <h4>IMPORTANTE:</h4>
    <p>O <a href="http://lermaislivros.com/" target="_blank">lermaislivros.com</a> não se responsabiliza pela transação em sí. Toda a negociação é de responsabilidade das partes. O <a href="http://lermaislivros.com/" target="_blank">lermaislivros.com</a>  apenas faz a ligação entre as duas partes e também não recebe qualquer remuneração por este serviço.</p>

    <hr>
    <p>Muito obrigado por fazer parte desta comunidade! Tenha um ótimo dia e ótimas leituras!</p>

    <p>Forte abraço!</p>
    <a href="http://jcfausto.com/" target="_blank">Julio Cesar Fausto</a> - Amante dos Livros e Criador do <a href="http://lermaislivros.com/" target="_blank">lermaislivros.com</a>.
  </body>
</html>
