<h1>Acervo de <%= @user.profile %></h1>

<div id="books" class="books-container">
  <div class="row">
    <div class="col-md-12">
      <%= render @books %>
     </div>
  </div>
</div>

<div class="text-center">
  <%= will_paginate @books, renderer: BootstrapPagination::Rails  %>
</div>
