<%= simple_form_for(@purchase) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :book, :readonly => true %>
    <%= f.input :user, :readonly => true %>


    <% if !@purchase.closed? %>
      <p><strong>Para concluir a compra, marque a caixa abaixo (Atenção: Após concluir a compra, a mesma não poderá mais ser modificada):</strong></p>
      <%= f.input :closed, :label => 'Compra concluída', as: :boolean %>
    <% end %>
  </div>

  <% if @purchase.closed? %>
    <h4>Esta compra está concluída e não pode mais ser modificada.</h4>
  <% else %>
    <div class="form-actions">
      <%= f.button :submit, :value => 'Atualizar' %>
    </div>
  <% end %>

<% end %>
