<p id="notice"><%= notice %></p>

<h1>Minhas Compras</h1>

<table class="table">
  <thead>
    <tr>
      <th>Livro</th>
      <th>Comprador</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class="table-striped">
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.book %></td>
        <td><%= purchase.user.profile.full_name %></td>
        <td><%= link_to_unless purchase.closed?, 'Cancelar', purchase, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <td><%= link_to_unless purchase.closed?, 'Concluir', edit_purchase_path(purchase) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
