<h2> Compra  #<%= @purchase.id %></h2>

<p>
  <strong>Livro:</strong>
  <%= @purchase.book %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @purchase.book.user.profile.full_name %>
</p>

<p>
  <strong>Comprador:</strong>
  <%= @purchase.user %>
</p>

<p>
  <strong>Concluída?:</strong>
  <% if @purchase.closed?  %>Sim<% else %>Não<% end %>
</p>

<%= link_to 'Editar', edit_purchase_path(@purchase) %> |
<%= link_to 'Voltar', purchases_path %>
