/*-----------------------------------*\
    #PAGE
\*-----------------------------------*/

html {
  font-size: ($base-size / 16px) * 1em;
  line-height: $base-line-height / $base-size;
  background-color: $body-background;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}


/*-----------------------------------*\
    #BODY
\*-----------------------------------*/

body {
  background: $body-background;
}


/*-----------------------------------*\
    #CONTENT
\*-----------------------------------*/

.content-top {
  padding-top: 200px;
  background: image_url('logo.png') no-repeat center 0px;
}

/*-----------------------------------*\
    #FOOTER
\*-----------------------------------*/

footer {
  background: $footer-background;
}

.bs-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.bs-social {
  margin-bottom: 20px;
  text-align: center;
}

.bs-social-buttons {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.bs-social-buttons li {
  display: inline-block;
  line-height: 1;
  padding: 5px 8px;
}
