/*-----------------------------------*\
    #TYPOGRAPHY
\*-----------------------------------*/

/**
 * BODY
 */
body {
  font-family: $font-family--sans;
  font-weight: $font-weight--medium;
  letter-spacing: $base-letter-space;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**
 * HEADERS
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family--primary;
  font-weight: $headers-font-weight;
}

h1 {
  color: $header-color;
}

h1 { @include font-size($h1-font-size); }
h2 { @include font-size($h2-font-size); }
h3 { @include font-size($h3-font-size); }
h4 { @include font-size($h4-font-size); }
h5 { @include font-size($h5-font-size); }
h6 { @include font-size($h6-font-size); }


/**
 * PARAGRAPH
 */
p { @include font-size($paragraph-font-size); }


/**
 * LINKS
 */
a {
  text-decoration: none;

  &:hover { text-decoration: underline; }
}
