/*-----------------------------------*\
    #BOOTSTRAP ALERTS
\*-----------------------------------*/

//flash as seen here: https://github.com/plataformatec/devise/wiki/How-To:-Integrate-I18n-Flash-Messages-with-Devise-and-Bootstrap

.alert-error {
    background-color: $color-error;
    text-align: left;
 }

.alert-alert {
    background-color: $color-alert;
    text-align: left;
 }

.alert-success {
    background-color: $color-success;
    text-align: left;
 }

.alert-notice {
    background-color: $color-notice;
    text-align: left;
 }
