/*-----------------------------------*\
    #BOXES
\*-----------------------------------*/


/*-----------------------------------*\
    #BIG BOXES
\*-----------------------------------*/

.big-box {
  background: $color-white;
  color: #333;
  padding: 25px 5px;
  margin-bottom: 2.5rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 0 rgba(37,46,53,0.06);
  -moz-box-shadow: 0 2px 0 rgba(37,46,53,0.06);
  box-shadow: 0 2px 0 rgba(37,46,53,0.06);
}

.big-box--owner {
  font-size: $font-size--large;
}

.big-box--owner span {
  color: $color-darkred;
}

.big-box--title {
  color: $color-darkred;
  font-size: $font-size--huge;
  text-align: center;
}

.big-box--backlink {
  text-align: center;
}

.big-box--backlink a {
  font-size: $font-size--large;
  color: $color-darkred;

}

.big-box--toolbar {
  margin-top: 10px;
}

.big-box-notice--title {
  color: $color-darkred;
  font-size: $font-size--medium;
  font-weight: $font-weight--bold;
}

.big-box-notice--text {
  font-size: $font-size--small;
}

/*-----------------------------------*\
    #SMALL BOXES
\*-----------------------------------*/


.box-container {
  padding: 2.1875rem 2.5rem;
  margin-bottom: 2.5rem;
  margin-top: 25px;
}

.box {
  background: $box-color;
	margin: 25px;
	padding: 5px;
  height: 351px;
	font-size: $font-size--tiny;
	line-height: 1.4em;
	float: left;
  -webkit-box-shadow: 0 2px 0 rgba(37,46,53,0.06);
  -moz-box-shadow: 0 2px 0 rgba(37,46,53,0.06);
  box-shadow: 0 2px 0 rgba(37,46,53,0.06);	width: 214px;
}

.box img {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.box-title {
  text-align: center;
  height: 50px;
}

.box-title a {
  text-decoration: none;
  color: $color-ruby;

  &:hover { color: $color-darkred; }
}

.box-cover {
  margin-left: 25px;
  margin-bottom: 10px;
}

.box-owner {
  text-align: center;
  font-size: $font-size--tiny;
}

.box-owner a {
  color: $color-darkred;
}

.box-buttom {
  text-align: center;
  margin-top: -5px;
}

.box--in-transaction {
  background: $box-color--in-transaction;
}
