/*-----------------------------------*\
    #BUTTONS
\*-----------------------------------*/

.btn-call--big {
  background-color: transparent;
  color: $color-ruby--light;
  padding: 15px 30px;
  border-color: $color-ruby--light;
}

.btn-call--big a {
  color: $color-ruby--light;
}

.btn-call--big:hover {
  background-color: $color-ruby--light;
  color: $color-white;
}
