/*-----------------------------------*\
    #MIXINS
\*-----------------------------------*/

/*-----------------------------------*\
    #FONT SIZE (by @csswizardry)
\*-----------------------------------*/

@mixin font-size($font-size, $line-height: true) {
  font-size: $font-size;
  font-size: ($font-size / $base-size) * 1rem;
  @if $line-height == true {
    line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
  }
}
