<h1 class="text-center content-top">Renove Seu Acervo. Leia Mais Livros.</h1>

<h2 class="text-center lead">Cadastre, Compartilhe e Venda Seus Livros de Forma Fácil, Direta e Sem Taxas</h2>

<% unless user_signed_in? %>
  <div class="text-center">
    <%= link_to raw("<strong>CADASTRE SEU ACERVO HOJE MESMO! É GRÁTIS!</strong>"), new_user_registration_path, :class => "btn btn-lg btn-call--big" %>
  </div>
<% end %>


