<div class="box<% if book.in_transaction? || book.sold? %> ribbon-container <% end %>" id="box-<%= book.id %>">

  <p class="box-title">
    <%= link_to book.title, book %>
  </p>

  <div class="box-cover">
    <%= image_tag book.image(:thumb)  %>
  </div>

  <p class="box-owner">
    Acervo de <%= link_to book.user.profile, book.user %>
  </p>

  <% if book.in_transaction? %>
    <span class="ribbon">Estou reservado :-)</span>
  <% elsif book.sold? %>
    <span class="ribbon">Fui vendido :-)</span>
  <% elsif book.for_sale? %>
    <div class="box-buttom">
      <%= link_to raw("<strong>R$ 10,00</strong> - QUERO LER ESTE"), book, :class => "btn btn-success btn-sm" %>
   </div>
  <% end %>

</div>

