<% if user_signed_in? && @book.user != current_user && (@book.for_sale? && !(@book.in_transaction? || @book.sold? )) %>
    <hr>

    <p class="big-box-notice--title">
      IMPORTANTE (Termos da Compra):
    </p>

    <p class="big-box-notice--text">
      Somente pessoas registradas no sistema podem efetuar compras e vendas. Ao clicar em comprar, o livro ficará reservado para você.
      Somente o vendedor pode liverar o livro novamente para venda, em caso de não conclusão da transação.
    </p>

    <p class="big-box-notice--text">
      Será enviado um e-mail a você com os dados do vendedor para  a conclusão da compra.
      <strong>Toda a transação (compra, envio) é de responsabilidade do comprador e vendedor, que deverão entrar em acordo a respeito da forma como a transação se realizará.</strong>
    </p>

    <p class="big-box-notice--text">
      Este site não tem responsabilidade sobre transações não concluídas ou qualquer produto anunciado,
      uma vez que serve apenas de plataforma de registro de acervos e meio de venda de livros.
      Este site destina-se apenas como meio de publicação e oferta de livros à venda por terceiros.
    </p>

    <p class="big-box-notice--text">
      Ao clicar em “Comprar”, você concorda com os termos e condições acima expostos e isenta o site e seu criador de qualquer responsabilidade sobre as transações efetuadas,
      assumindo a responsabilidade de negociação com o vendedor.
    </p>

    <div class="text-center">
      <%= link_to raw("<strong>COMPRAR</strong>"), book_purchase_path(@book), :class => "btn btn-lg btn-call--big" %>
    </div>
  <% else %>
    <% unless user_signed_in? %>
      <hr>

      <h2 class="text-center lead">PARA COMPRAR ESTE LIVRO VOCÊ PRECISA ESTAR REGISTRADO</h2>

      <div class="text-center">
        <%= link_to raw("<strong>QUERO ME REGISTRAR</strong>"), new_user_registration_path, :class => "btn btn-lg btn-call--big" %>  OU  <%= link_to raw("<strong>JÁ SOU REGISTRADO</strong>"), new_user_session_path, :class => "btn btn-lg btn-call--big" %>
      </div>
    <% end %>
  <% end %>


