<%= simple_form_for(@book) do |f| %>
  <%= f.error_notification %>

  <%= image_tag @book.image(:thumb)  %>

  <div class="form-inputs">
    <%= f.full_error :image_file_size, class: "alert alert-error" %>
    <%= f.full_error :image_content_type, class: "alert alert-error" %>

    <%= f.input :image, label: "Carregar uma imagem de capa." %>

    <%= f.input :title, label: 'Título' %>
    <%= f.input :author, label: 'Autor' %>
    <%= f.input :year, label: 'Ano' %>
    <%= f.input :pages, label: 'Páginas' %>
    <%= f.input :notes, label: 'Observações', as: :text, input_html: { rows: "3" }  %>
    <%= f.input :for_sale, label: 'À venda', as: :boolean, disabled: @book.sold? || @book.in_transaction? %>
    <%= f.input :in_transaction, label: 'Em transação', as: :boolean, disabled: @book.for_sale? %>
    <%= f.input :sold, label: 'Vendido', as: :boolean, disabled: @book.sold? %>
  </div>

  <div class="actions">
    <%= f.submit 'Atualizar', class: "btn btn-lg btn-success btn-block" %>
  </div>
<% end %>
