<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Editar Livro</h4>
      </div>

      <div class="panel-body">

        <%= render 'form' %>

      </div>
    </div>

    <div class="big-box--backlink">
      <i class="fa fa-long-arrow-left"></i><%= link_to 'Voltar', @book %>
    </div>
  </div>
</div>
