<p class="big-box--owner">
  Acervo de <span><strong><%= @book.user.profile %><span></strong>
</p>

<div class="big-box">
  <div class="row">
    <div class="col-md-3">
      <div class="box-cover">
        <%= image_tag @book.image(:medium)  %>
         <!-- only the book's owner could edit and destroy -->
	      <% if current_user == @book.user %>
          <div class="big-box--toolbar">
            <% if !@book.sold? %>
              <%= link_to 'Editar', edit_book_path(@book), :class => "glyphicon glyphicon-pencil" %> |
              <%= link_to 'Excluir', @book, method: :delete, data: { confirm: 'Este livro será excluído do seu acervo. Tem certeza?' }, :class => "glyphicon glyphicon-erase" %>
            <% end %>
		      </div>
	      <% end %>
      </div>
    </div>
    <div class="col-md-9">

      <p class="big-box--title">
       <%= @book.title %>
      </p>
      <hr>

      <p>
        <strong>Autor:</strong>
        <%= @book.author %>
      </p>

     <p>
        <strong>Ano:</strong>
        <%= @book.year %>
      </p>

     <p>
       <strong>Páginas:</strong>
        <%= @book.pages %>
      </p>

      <p>
      <strong>Observações:</strong><br />
        <%= @book.notes %>
      </p>

      <% if @book.sold? && @book.user == current_user %>
          <hr>
          <P class="text-center">
          <strong>Este livro foi vendido. A única ação possível agora é <%= link_to 'ARQUIVAR', root_path %>.</strong><br />
          </P>
      <% end %>


    </div>

  </div>

  <%= render 'books/buy' %>

</div>

<div class="big-box--backlink">
  <i class="fa fa-long-arrow-left"></i><%= link_to 'Voltar', books_path %>
</div>
