<div class="container">
<div class="col-md-6 col-md-offset-3">
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Log in</h4>
  </div>

  <div class="panel-body">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.input :email, label: 'E-mail', :autofocus => true %>
      <%= f.input :password, label: 'Senha' %>

      <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, label: 'Lembrar de mim', as: :boolean %>
      <% end -%>

      <div class="form-actions">
    	  <%= f.submit "Entrar", class: "btn btn-lg btn-success btn-block" %>
      </div>
    <% end %>


    <%= render "devise/shared/links" %>

  </div>
</div>
</div>
</div>

