/*-----------------------------------*\
    #COLORS
\*-----------------------------------*/

$color-white        : #ffffff;
$color-dark         : #ebf1f4;
$color-ruby         : #dd4814;
$color-ruby--light  : #E74C3C;
$color-darkred      : #CB3713;

$color-success   : #dff0d8;
$color-notice    : #d9edf7;
$color-error     : #f2dede;
$color-alert     : #fcf8e3;

$body-background            : $color-dark;
$footer-background          : $color-white;
$header-color               : $color-darkred;
$navbar-brand--color        : $color-darkred;
$box-color                  : $color-white;
$box-color--in-transaction  : $color-dark;
