/*-----------------------------------*\
    #BASE
\*-----------------------------------*/

$base-size               : 16px               !default;
$base-line-height        : 24px               !default;
$base-letter-space       : 0.4px              !default;

$base-spacing            : $base-line-height  !default;
$base-spacing--tiny      : $base-spacing / 4  !default;
$base-spacing--small     : $base-spacing / 2  !default;
$base-spacing--large     : $base-spacing * 2  !default;
$base-spacing--huge      : $base-spacing * 4  !default;

$base-border-weight      : 1px                !default;
$base-border-round       : 4px                !default;
$base-border-color       : #ccc               !default;

$transition-property     : all                !global;
$transition-duration     : 0.3s               !global;
$transition-timing       : ease               !global;
$transition-delay        : 0s                 !global;
