/*-----------------------------------*\
    #TYPOGRAPHY
\*-----------------------------------*/

$font-family--sans       : Helvetica, "Helvetica Neue", Arial, sans-serif;
$font-family--serif      : Georgia, "Times New Roman", Times, serif;
$font-family--mono       : Inconsolata, "Courier New", Courier, monospace;

$font-family--primary    : $font-family--sans  !default;
$font-family--secondary  : $font-family--serif !default;

$font-size--tiny         : 12px                !default;
$font-size--small        : 14px                !default;
$font-size--regular      : 16px                !default;
$font-size--medium       : 18px                !default;
$font-size--large        : 24px                !default;
$font-size--huge         : 32px                !default;
$font-size--big          : 36px                !default;
$font-size--giant        : 48px                !default;
$font-size--ogro         : 56px                !default;
$font-size--monster      : 60px                !default;
$font-size--god          : 72px                !default;

$font-weight--thin       : 100                 !default;
$font-weight--light      : 300                 !default;
$font-weight--medium     : 400                 !default;
$font-weight--bold       : 700                 !default;
$font-weight--bolder     : 900                 !default;

$headers-font-family     : $font-family--primary;
$headers-font-weight     : $font-weight--bold;

$h1-font-size            : $font-size--giant;
$h2-font-size            : $font-size--big;
$h3-font-size            : $font-size--huge;
$h4-font-size            : $font-size--large;
$h5-font-size            : $font-size--medium;
$h6-font-size            : $font-size--regular;

$paragraph-font-family   : $font-family--primary;
$paragraph-font-size     : $font-size--regular;
