<p>Bem-vindo(a)!</p>

<p>Para podermos ter certeza de que o seu e-mail é válido, precisamos da confirmação de sua conta.
  <br/> Será através do seu e-mail que você receberá as informações sobre como prosseguir em caso de compra de algum livro.</p>

<p>Você deve confirmar sua conta através do link abaixo:</p>

<p><%= link_to 'Confirmar', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Obrigado!</p>
