<p>Olá,</p>

<p>Alguém solicitou a mudança de sua senha. Você pode fazer isso através do link abaixo:.</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez a solicitação, por favor ignore este e-mail.</p>
<p>A sua senha atual não mudará a menos que você acesse o link acima e cria uma nova.</p>
