<p>Olá!</p>

<p>A sua conta foi bloqueada em função de excesso de tentativas de acesso sem sucesso.</p>

<p>Clique no link abaixo para desbloquear a sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
