<footer class="bs-footer" role="contentinfo">
  <div class="container">
    <div class="bs-social">
      <ul class="bs-social-buttons">
        <li class="follow-btn">
          <iframe id="twitter-widget-47" scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/follow_button.403b2a3ca10837290e034c22c8a16c06.en.html#_=1435530003992&amp;dnt=false&amp;id=twitter-widget-47&amp;lang=en&amp;screen_name=jcfausto&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button twitter-follow-button" title="Twitter Follow Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 192px; height: 20px;"></iframe>
        </li>
        <li class="tweet-btn">
          <iframe id="twitter-widget-46" scrolling="no" frameborder="0" allowtransparency="true" src="https://platform.twitter.com/widgets/tweet_button.55a4019ea66c5d005a6e6d9d41c5e068.en.html#_=1435530003990&amp;count=horizontal&amp;dnt=false&amp;id=twitter-widget-46&amp;lang=en&amp;original_referer=http%3A%2F%2Frubyprimer.com%2Fepisodes%2Frails-assets&amp;related=jcfausto%3ACreator%20of%20RRubyPrime&amp;size=m&amp;text=Aprenda%20Ruby%20Através%20de%20Lições%20Rápidas%20%7C%20RubyPrimer%20-%20RubyPrimer&amp;url=http%3A%2F%2Frubyprimer.com%2F&amp;via=jcfausto" class="twitter-share-button twitter-tweet-button twitter-share-button twitter-count-horizontal" title="Twitter Tweet Button" data-twttr-rendered="true" style="position: static; visibility: visible; width: 81px; height: 20px;"></iframe>
        </li>
      </ul>
    </div>

    <p>
      <%= link_to "© 2015, Ler Mais Livros.", root_path, :target => "_blank" %>
    </p>
  </div>
</footer>

