<header class="navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Ler Mais Livros', root_path, class: "navbar-brand" %>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "Minhas compras", purchases_path %></li>
          <li><%= link_to "Novo livro", new_book_path %></li>
          <li><%= link_to "Perfil",  edit_user_registration_path %></li>
          <li><%= link_to 'Sair ('+current_user.email+')', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Registrar', new_user_registration_path %></li>
          <li><%= link_to 'Entrar', user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
