<!DOCTYPE html>
<html>
<head>
  <title>Ler Mais Livros</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <div class="container">
    <%= render 'layouts/messages' %>

    <%= yield %>
  </div><!-- end container -->

  <%= render 'layouts/footer' %>

</body>
</html>
